<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WizardTales's coding test</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="form-container">
        <form method="post">
            <label for="name">Enter the repo name:</label>
            <input type="text" id="name" name="name" placeholder="ex: https://github.com/rust-lang/rust">
            <input type="submit" value="Scan">
        </form>
    </div>
    <div>

        <ul style="display: flex; background-color: #e54363; color: aliceblue;">
            <li>File tree</li>
            <li>Open Source License</li>
            <li>Copyright</li>
        </ul>
        <% for (let i = 0; i < files.length; i++) { %>
        <ul style="display: flex;" >
            <li style="color: aqua;" class="parent" onclick="getData(event)"  data-url=<%= files[i]?.link %>><%= files[i]?.name %><%= files[i]?.type === 'dir' ? '/' : '' %> -- 
            
            </li>
            <li style="color: red;"><%= files[i]?.license %> -- </li>
            <li style="color: blueviolet;"><%= files[i]?.value %> -- </li>
        </ul>
        <% } %>
    </div>
    <% /* %>
    <table>
        <tr>
            <th>File Tree</th>
            <th>Open Source License</th>
            <th>Copyright</th>
        </tr>
        <%= JSON.stringify(files) %>
        <% for (let i = 0; i < files.length; i++) { %>
            <tr>
                <td onclick="getData(event)" data-url=<%= files[i]?.link %>><%= files[i]?.name %><%= files[i]?.type === 'dir' ? '/' : '' %></td>            
                <td><%= files[i]?.license %></td>
                <td><%= files[i]?.value %></td>
            </tr>
            <% } %>
            
        </table>
        <% */ %>
    <script src="scripts/index.js"></script>
</body>
</html>